@model IEnumerable<Entity.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Låntagare</h1>

<p>
    <a asp-action="Create">Lägg till ny låntagare</a>
</p>

<table class="table table-bordered table-hover table-striped shadow-sm rounded">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>Böcker</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrower)
                </td>
                <td>
                    <ul>
                        @foreach (var book in item.BorrowedBooks ?? Enumerable.Empty<Book>())
                        {
                            <li>@book.Title</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
